# Dependencies
node_modules

# Build outputs
dist
*.tsbuildinfo

# Cloudflare Workers local state
.wrangler/

# Temporary workspace files
.temp/

# Environment & config
*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.sw?

# OS
.DS_Store
Thumbs.db
